.article
{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    padding: 30px;
    border: 1px solid gray;
    height: 630px;
    overflow: auto;
    margin-bottom: 20px;
   
}

.article p
{
    color: #e6b800;
    font-weight: bold;
    overflow: auto;
   
    font-size: 20px;
}

.article h4 
{
    color: white;
    font-weight: lighter;

}

 .button
 {
     position:  absolute;
     width: 400px;
     height: 60px;
     font-size: 15px;
     top: 20px;
     background-color: #e6b800;
     border: none;
     border-radius: 20px 20px 20px 20px;
    
 }
 .button a
 {
     color:white;
     margin: -20px;
 }