
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color:#181818;
}
.container .button{
    margin-top: 50%;
    margin-left:10px;
    font-size: 18px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 350;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}
.link{
    height: max-content;
}