.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color:#181818;
}
.userTypeButton{
    font-size: 18px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 200;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    height: fit-content;
}
.contents{
    display: flex;
}